* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.slides {
    width: 300px;
    height: 300px;
    display: flex;
}